body {
    width: 100%;
    margin: auto;
    background-image: url(../../images/Rustic-potatoes.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.questions_title {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    width: 20%;
    margin: auto;
    font-family: var(--default-font-family);
    font-weight: 900;
    color: var(--default-font-color);
    padding: 20px 0;
    border: 1px solid var(white);
    border-radius: var(--default-border-radius);
}

.questions_container_big {
    width: 50%;
    box-shadow: 0 0 3px black;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    border: 1px solid var(--default-border-color);
    border-radius: var(--default-border-radius);
    background-color: white;
    padding: 20px;
}


.question {
    display: flex;
    background-color: white;
    flex-direction: row;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.question > span,
.question > a {
    display: flex;
    height: 80px;
    align-items: center;
}

.question > span {
    width: 20%;
}

.question > a {
    font-family: serif;
    text-decoration: none;
    width: 80%;
    font-size: 24px;
    font-weight: 700;
}

.question a:hover {
   background-color: #eee;
   color: black;
}
