body {
  width: 100%;
  margin: auto;
  background-image: url("../../images/layered-waves-3.svg");
  background-size: cover;
  background-position: fixed;
}

.content {
  width: 80%;
  height: 100%;
  margin: auto;
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--color-tertiary);
  border:rgba(0, 0, 0, 0.5) solid 1px;
  border-radius: 25px;
  padding: 2%;
  color: black;
  box-shadow:10px 5px 5px rgba(0, 0, 0, 0.2);
}

.question,
.answers {
  width: 80%;
}

.question_header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.post_layout {
  display: flex;
  flex-direction: column;
  padding: 3% 0;
  padding-left: 3%;
  border-bottom: 1px solid black;
}

.upper_container {
  display: flex;
  padding: 5% 0;
  align-items: center;
}

.upper_container > #message {
  width: 100%;
  margin-left: 2%;
  font-size: 2rem;
  font-weight: 700;
}

.message_container {
  display: flex;
  background-color: var(--color-quinary);
  width: 100%;
  height: 100%;
  margin-left: 2%;
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* fit words to container */
.message_container > p {
  flex-direction: row;
  padding: 5px;
  color: black;
  font-size: 1.2em;
}

 /*Comments*/
.comments_container {
  margin-left: 20%;
  display: flex;
  flex-direction: column;
}

.delete-edit-buttons {
  display: flex;
  justify-content: left;
  flex-direction: row;
}

.delete-edit-buttons button,
.comments_container button {
  justify-content: flex-end;
  border: none;
  margin: 5px;
  padding: 5px;
}

.comments_container button:hover {
  background-color: var(--color-secondary);
  color: var(--color-tertiary);
}

.post_buttons {
  display: flex;
  justify-content: left;
}

.comment {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  color: black;
  background-color: var(--color-quaternary);
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.comment_message {
  color: orange;
  font-family: var(--default-font-family);
  font-weight: 700;
  font-size: 1.2rem;
  background-color: var(--color-quaternary);
  color: black;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 4px;
}

 .comment_author {
  font-size: 10px;
  color: black;
}

.answer_header {
  padding-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.answer_header > span {
  font-family: var(--default-font-family);
  font-weight: 700;
  font-size: 1.2rem;
  background-color: black;
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
}

#title {
  font-family: var(--default-font-family);
  font-weight: 700;
  font-size: 3rem;
}

.content > #title,
.content > .votes_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.votes_container {
  display: flex;
  width: 60px;
  height: 60px;
}

.upper_container > p {
  background-color: var(--color-quaternary);
  justify-content: left;
  display: flex;
  font-size: 1.2rem;
  font-weight: 700;
  color: black;
  width: 90%;
  height: 100%;
  border-radius: 4px;
  margin: auto;
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.upper_container div {
  font-size: 24px;
}

.upper_container > .votes_container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  height : 60px;
  width: 60px;
}

#question-form {
  display: flex;
}

#question-form > input,
#question-form > button{
  width: 100%;
}

#question-form > textarea,
#reply-form > textarea{
  font-family: var(--default-font-family);
  min-width: 100%;
  max-width: 100%;
  min-height: 300px;
  max-height: 300px;
  border-radius: var(--default-border-radius);
}

.question_header > span {
  font-family: var(--default-font-family);
  font-weight: 700;
  font-size: 1.2rem;
  margin-top: 25px;
  margin-bottom: 25px;
}
