extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/pages/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  section.odd
    div.header_text
      span.heading_primary Snack Overflow
      span.heading_secondary Your place for snacking questions
      a.call_to_action(href="/questions/new") Ask a Question
  div.spacer.layer
  .footer
        .follow
          p Follow Us
          img.logo(src="../images/GitHub-Mark-Light-32px.png")
        .footer-members
            p.footer-item
                //- img.logo(src="../images/GitHub-Mark-Light-32px.png")
                a(target="_blank" href="https://github.com/StevenBarnett1") Steven Barnett
            p.footer-item
                a.footer-item(target="_blank" href="https://github.com/boromeot") Kekoa Boromeo
            p.footer-item
                a.footer-item(target="_blank" href="https://github.com/Vazhac") Vazha Chiaberashvili
            p.footer-item
                a.footer-item(target="_blank" href="https://github.com/a-echeverri") Andres Echeverri
        .footer-year Snack Overflow - App Academy 2021
