extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/pages/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  section.odd
    div.header_text
      span.heading_primary Snack Overflow
      span.heading_secondary Your place for snacking questions
      a.call_to_action(href="/questions/new") Ask a question
  div.spacer.layer
