doctype html
html
  head
      block head
        title="Snack-Overflow"
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel='stylesheet' href='/stylesheets/components/layout.css')
        script(src="../javascripts/search.js" type = "module")
  body
    //- add logo to center of navbar
    div.nav_links_container
      div.home_links
        a(href='/') Home
        a(href='/questions') All Questions
      div.sign_links
        form
          input#search-bar(type="text")
          input#search-submit(type="submit" value = "Submit")
        ul#search-results(style="display:none")
        if user
          span.logged-in= `Current User: ${user.username}`
          a(href="/questions/new") Ask a question
          a(href='/users/signout') Sign Out
        else
          a(href="/questions/new") Ask a question
          a(href='/users/signup') Sign Up
          a(href='/users/signin') Sign In
        end
    block content
