doctype html
html
  head
      block head
        title="Snack-Overflow"
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="image" content="https://media.discordapp.net/attachments/268519610402340864/907238145261719592/unknown.png?width=1388&height=671")
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel='stylesheet' href='/stylesheets/components/layout.css')
        script(src="../javascripts/search.js" type = "module")
  body
    //- add logo to center of navbar
    div.nav_links_container
      div.home_links
        a(href='/') Home
        a(href='/questions') All Questions
      div.search_bar_container
        input#search-bar(type="text" placeholder="🔎 Search for a question")
        ul#search-results(style="display:none")
      div.sign_links
        if user
          span.logged_in= `Current User: ${user.username}`
          a(href="/questions/new") Ask a Question
          a(href='/users/signout') Sign Out
        else
          a(href="/questions/new") Ask a Question
          a(href='/users/signup') Sign Up
          a(href='/users/signin') Sign In
        end
    block content
