doctype html
html
  head
      block head
        title="Snack-Overflow"
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel='stylesheet' href='/stylesheets/form.css')
  body
    div.nav_links
      div.home_link
        a(href='/') Home
        a(href='/questions') All Questions
      div.sign_links
        if user
          div.logged-in= `Current User: ${user.username}`
          a(href='/users/signout') Sign Out
        else
          a(href='/users/signup') Sign Up
          a(href='/users/signin') Sign In
        end
    block content