h2 Ask a public question
    form(action="/questions/new" method="post")
        label(for='title') Title
        input(type='text' name='title' placeholder="What is the perfect chocolate chip to cookie ratio?")
        label(for='body') Body
        input(type='text' name='body' placeholder="Enter your question here")
        button(type="submit" value="submit") Post your question
