extends layout
block content
    link(rel="stylesheet" href="/stylesheets/questions.css")
    H1.questions_title All Questions

    div.questions
        if questions.length
            each question in questions
                div.question
                    a(href=`/questions/${question.id}`) #{question.title}
        else
            p No questions yet.
