extend layout
block content
    .container
        link(rel="stylesheet" href="/stylesheets/pages/form.css")
        h2 Sign In
        if errors.length
            each error in errors
                li #{error}
        div.sign-in-form
            form(action="/users/signin" method="post")
                input(type="hidden", name="_csrf" value=csrfToken)
                div.username
                    input(type='text' name='username' placeholder="Username")
                div.password
                    input(type="password" name="password" placeholder="Password")
                div.submit_button
                    button(type="submit" value="submit") Sign in
                div.links
                    a(href='/users/signup') Don't have an account? Sign up
                    a(href='/users/demo') Click here to sign in as Demo User
