extend layout
block content
    h2 Sign In
    if errors.length
        each error in errors
            li #{error}
    form(action="/users/signin" method="post")
        input(type="hidden", name="_csrf" value=csrfToken)
        input(type='text' name='username' placeholder="Username")
        input(type="password" name="password" placeholder="Password")
        button(type="submit" value="submit") Sign in
    a(href='/users/signup') Don't have an account? Sign up
