h2 Sign Up
if errors.length
    each error in errors
        li #{error}
form(action="/users/signup" method="post")
    input(type="hidden", name="_csrf" value=csrfToken)
    input(type='text' name='username' placeholder="Username")
    input(type="password" name="password" placeholder="Password")
    input(type="password" name="confirmPassword" placeholder="Confirm Password")
    input(type="email" name="email" placeholder="Email")
    button(type="submit" value="submit") Sign Up
a(href='/users/signin') Already have an account? Log in here.
