h2 Sign Up
form(action="/users/signup" method="post")
    hidden(name="csrf_token", value=csrf_token)
    input(type='text' name='username' placeholder="Username")
    input(type="password" name="password" placeholder="Password")
    input(type="password" name="confirmPassword" placeholder="Confirm Password")
    input(type="email" name="email" placeholder="Email")
    button(type="submit" value="submit") Sign Up
a(href='/log-in') Already have an account? Log in here.
