extend layout
block content
        link(rel="stylesheet" href="/stylesheets/pages/form.css")
        div.sign-in-form-container
            h2 Sign In
            if errors.length
                each error in errors
                    li #{error}
            form.sign-in-form(action="/users/signin" method="post")
                input(type="hidden", name="_csrf" value=csrfToken)
                div.username
                    input(type='text' name='username' placeholder="Username")
                div.password
                    input(type="password" name="password" placeholder="Password")
                div.sub-cancel-buttons
                    div.submit_button
                        button(type="submit" value="submit") Sign in
                    div.cancel_button
                        a(href="/") Cancel
                div.links
                    a(href='/users/signup') Don't have an account? Sign up
                    a(href='/users/demo') Click here to sign in as Demo User
