.page_links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page_links > a {
    padding: 3px;
    text-decoration: none;
    margin: 0px 5px;
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px 10px;
    background-color: black;
    color: white;
    box-shadow: 0 0 2px black;
}

.page_links > a:hover {
    background-color: #eee;
    color: black;
}

.home_links {
    width: 25%;
}

.home_links > a {
    color: white;
    margin: 20px 5px 0px 5px;
    font-weight: 700;
    text-decoration: none;
    border: 2px solid black;
    border-radius: var(--default-border-radius);
    background-color: black;
    box-shadow: 0px 0px 1px black;
    padding: 5px;
}

.home_links > a:hover {
    background-color: #e3b150;
    color: var(--button-text-color);
}

.logged_in {
    color: white;
    margin: 20px 5px 0px 5px;
    font-weight: 700;
    text-decoration: none;
    border: 2px solid black;
    border-radius: var(--default-border-radius);
    background-color: black;
    box-shadow: 0px 0px 1px black;
    padding: 5px;
}

.sign_links {
    width: 25%;
}

.sign_links > a {
    color: white;
    margin: 20px 5px 0px 5px;
    font-weight: 700;
    text-decoration: none;
    border: 1px solid black;
    border-radius: var(--default-border-radius);
    background-color: black;
    box-shadow: 0px 0px 1px black;
    padding: 5px;
}

.sign_links > a:hover {
    background-color: #e3b150;
    color: var(--button-text-color);
}
