@import "./variables.css";
@import "./button.css";
html {
    width: 100%;
    margin: auto;
    height: 100%;
    position: absolute;
    bottom: 0;
}

body {
    width: 100%;
    margin: auto;
    background-image: none;
}

.nav_links_container {
    width:100%;
    background-color: var(--color-quinary);
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding: 20px 0px;
    border-bottom: 1px solid black;
}
/* center logo in nav bar */
.logo {
    justify-content: center;
    width: 100px;
    height: 100px;
    background-image: url(../images/logo.png);
}
