@import "./variables.css";
@import "./button.css";
html {
    width: 100%;
    margin: auto;
    height: 100%;
    position: absolute;
    bottom: 0;
}

body {
    width: 100%;
    margin: auto;
    background-image: none;
}

.nav_links_container {
    background-color: var(--color-quinary);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 20px 0px;
    border-bottom: 2px solid black;
}
.search_bar_container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-bar {
    width: 50%;
    height: 30px;
    padding: 0px 10px;
    font-size: 1.2em;
    background-color: black;
    color: white;
    border: none;
    border-radius: var(--default-border-radius);
}

#search-results {
    position: relative;
    width: inherit;
    height: auto;
    background-color: black;
    color: white;
}
